@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

.clue2__main {
  font-size: 3rem;
  padding: 2vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 2rem;
    margin-top: 4rem;
  }
  form {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    input {
      padding: 1rem 2rem;
      border-radius: 10px;
      border: 2px solid black;
      //   border: none;
      font-size: 1.5rem;
      flex: 2;
      &:focus {
        border: none;
        outline: none;
        -webkit-box-shadow: 3px -1px 25px -13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px -1px 25px -13px rgba(0, 0, 0, 0.75);
        box-shadow: 3px -1px 25px -13px rgba(0, 0, 0, 0.75);
      }
      //   border: none;
    }
    button {
      padding: 0.5rem 2rem;
      flex: 1;
      background-color: transparent;
      border: none;
    }
    img {
      height: 40px;
      border: 2px solid black;
      border-radius: 50%;
      padding: 10px;
      color: white;
      cursor: pointer;
      background: linear-gradient(to right, rgb(51, 200, 51) 50%, white 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.3s ease;
      &:hover {
        background-color: rgb(3, 198, 3);
        background-position: left bottom;
        transform: scale(1.1);
      }
    }
  }
}
.wrong,
.old {
  display: flex;
  align-items: center;
  position: fixed;
  top: 50vh;
  right: 1rem;
  font-weight: bold;
  animation: slide-up 1s forwards;
  animation-duration: 4s;
  border: 1px solid red;
  background: rgb(250, 190, 190);
  color: red;
  border-radius: 10px;
  font-size: 1rem;
  padding: 1rem 2rem;
  z-index: 1;
  img {
    height: 30px;
    margin-right: 1rem;
  }
}
.old {
  background-color: rgb(255, 236, 140);
  color: rgb(250, 62, 62);
  animation:slide-up 4s forwards;
  animation-duration: 8s;
}
.hidden {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
}
@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translateX(25vh);
  }
  15% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}
